body {
  min-width: 1100px;
  margin: 0;
  padding: 0;
}

.nobr {
  white-space:nowrap;
}

.button {
  display: inline-block;
  border-radius: .2857rem;
  cursor: pointer;
  min-height: 1em;
  margin: 0 .25em 0 0;
  padding: .5em 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  /*border-width: 2px;*/
  /*border-style: solid;*/
  /*border-color: #fff;*/
  box-shadow: 0 0 0 2px rgba(255,255,255,.5)inset!important;
  color: #fff;
}

.button:hover.red {
  box-shadow: 0 0 0 2px #ff695e inset!important;
  color: #ff695e!important;
}

#no-js-support {
  background-color: #fff;
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483647;
  font-family: "Lora", serif "Times New Roman";
  font-weight: normal;
}

#no-js-support h1 {
  text-align: center;
  font-style: normal;
  font-size: 2em;
}

#no-js-support p {
  width: 60%;
  margin-left: 20%;
  font-size: 16pt;
}

#browser-is-not-supported {
  background-color: #fff;
  display: none;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483646;
  font-family: "Lora", serif "Times New Roman";
  font-weight: normal;
}

html.no-backgroundsize #browser-is-not-supported,
html.no-textshadow #browser-is-not-supported,
html.no-boxshadow #browser-is-not-supported,
html.no-cssanimations #browser-is-not-supported,
html.no-csstransforms #browser-is-not-supported,
html.no-csstransitions #browser-is-not-supported,
html.no-borderradius #browser-is-not-supported,
html.no-cssgradients #browser-is-not-supported {
  display: block !important;
}

#browser-is-not-supported h1 {
  text-align: center;
  font-style: normal;
  font-size: 2em;
}

#browser-is-not-supported p {
  width: 60%;
  margin-left: 20%;
  font-size: 16pt;
}

#browser-is-not-supported .browsers-list {
  text-align: center;
}

#browser-is-not-supported .browsers-list a {
  padding: 0 10px;
}

#browser-is-not-supported .ignore-my-browser {
  text-decoration: underline;
  cursor: pointer;
}

/* Экран загрузки страницы */
#content-loader {
  z-index: 2147483645;
  background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  -webkit-animation: rotate-one 1s linear infinite;
  -moz-animation: rotate-one 1s linear infinite;
  -o-animation: rotate-one 1s linear infinite;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  -webkit-animation: rotate-two 1s linear infinite;
  -moz-animation: rotate-two 1s linear infinite;
  -o-animation: rotate-two 1s linear infinite;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  -webkit-animation: rotate-three 1s linear infinite;
  -moz-animation: rotate-three 1s linear infinite;
  -o-animation: rotate-three 1s linear infinite;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@-webkit-keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-moz-keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-o-keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-moz-keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-o-keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-moz-keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-o-keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
/* !Экран загрузки страницы */

/* Заглавный экран */
#part0 {
  z-index: 2147483644;
  background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

#part0 h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 2.6em;
  width: 80%;
  margin: 0 0 0 10%;
  padding: 10% 0 0 0;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.9);
  color: #fff;
  max-height: 280px;
  overflow: hidden;
}

#part0 .block {
  position: fixed;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}

#part0 .block.right,
#part0 .block.left {
  width: 25%;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

#part0 .block.left {
  left: 0;
  background-image: url("../img/bg_body_left_xxlarge.png");
  background-position: right top;
}

#part0 .block.right {
  right: 0;
  background-image: url("../img/bg_body_right_xxlarge.png");
  background-position: left bottom; 
}

#part0 .block.center {
  width: 50%;
  left: 25%;
}

@media screen and (max-height: 530px) {
  #part0 .block.left,
  #part0 .block.right {
    background-size: cover; 
  }
}

#part0 .footer {
  position: fixed;
  width: 50%;
  left: 25%;
  bottom: 10px;
  text-align: center;
}

#part0 .footer a {
  display: inline-block;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  background-repeat: no-repeat;
  background-position: left center;
}


#part0 .footer a.yararchive {
  background-image: url("../img/yarregion.png");
  padding-left: 40px;
  margin-right: 15px;
}

#part0 .footer a.upda {
  background-image: url("../img/upda.png");
  padding-left: 28px;
}

#part0 .button-block {
  /*background-color: #fff;*/
  position: fixed;
  text-align: center;
  width: 50%;
  left: 25%;
  bottom: 140px;
}
/* !Заглавный экран */

/* Содержание выставки */
#part1 {
  z-index: 2147483643;
  opacity: 0;
  background-image: url("../img/bg_body.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
  margin: 0;
  padding: 100px 0 30px 0;
  font-family: "Lora", serif "Times New Roman";
  font-weight: normal;
}

#part1 .content-block {
  background-color: rgba(255, 255, 255, 0.85);
  width: 60%;
  margin: 0 0 0 14%;
  padding: 40px 6%;
}

#part1 .footer {
  margin: 50px 0 50px 0;
  text-align: center;
  padding: 0;
}

#part1 .footer a {
  display: inline-block;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  background-repeat: no-repeat;
  background-position: left center;
}


#part1 .footer a.yararchive {
  background-image: url("../img/yarregion.png");
  padding-left: 40px;
  margin-right: 15px;
}

#part1 .footer a.upda {
  background-image: url("../img/upda.png");
  padding-left: 28px;
}

#part1 .to-start {
  width: 60%;
  margin: 0 0 0 14%;
  padding: 20px 6%;
  background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
  position: fixed;
  bottom: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  -kthtml-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

@media screen and (max-width: 1099px) {
  #part1 .to-start {
    width: 660px;
    left: 154px;
    margin: 0;
  }
}

#part1 .to-start:hover {
  background-image: radial-gradient(circle farthest-corner at center, #4C5B67 0%, #2C363B 100%);
  padding: 20px 8% 20px 4%;
}
/* !Содержание выставки */

/* Блок с изображениями */
.fancybox-title a {
  color: #fff;
}

.images-container {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.images-container > p {
  margin: 0 0 1em 0;
}

.images-container > a {
  display: inline-block;
  padding: 1%;
}

.images-container > a > img {
  display: inline-block;
  max-width: 100%;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, .6);
}

.images-container.single > a {
  width: 97.5%;
}

.images-container.double > a {
  width: 47%;
}

.images-container.triple > a {
  width: 30%;
}
/* !Блок с изображениями */